@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="col-xs-12 col-md-12 ">
    <a href="index.html">
            <img src="~/images/logo.png" class ="logotype" alt="Logo" />
    </a>
</div>

<br>

<div class="col-xs-12">
    <div class="main-title1">ADMIN PANEL</div>
</div>

<br>

<div class="col-xs-12">
    <a href="newDelivery.html">
        <div class="menuItem">СОЗДАТЬ РАССЫЛКУ</div>
    </a>
</div>
<div class="col-xs-12">
    <a href="gallery.php">
        <div class="menuItem">ПОСМОТРЕТЬ ЧАТЫ</div>
    </a>
</div>

<br>