
@{
ViewData["Message"] = "Message";
ViewData["Group"] = "Group";
}

<br>
<div class="col-xs-12">
    <a asp-controller="Home">
        <div class="back">НАЗАД</div>
    </a>
</div>

<br>

<div class="col-xs-12">
    <div class="line">
    </div>
</div>

<br>

<div class="col-xs-12">
    <div class="main-title1">НОВАЯ РАССЫЛКА</div>
</div>

<br>

<div class="col-xs-12">
    <div class="deliveryBlock">
        <form id="deliveryForm" action="" method="POST">
            Выберите группу:<br>
            <br>
            <select name="group">
                <option value="SEP-172">SEP-172</option>
                <option value="SEP-182">SEP-182</option>
                <option value="SPB-192">SPB-192</option>
            </select>
            <br><br> Введите текст сообщения:<br><br>
            <textarea id="myTextarea" cols="40" rows="2"  name="message"></textarea>
            <br>
            <br>
            <input type="checkbox" name="checkbox"> <u> Каждую неделю в этот день</u>
            <br>
            <br> 
            <input type="submit" id="submitButton" value="Отправить">
            
        </form>
    </div>
</div>

<br>
<br>

<br>
<br>
