@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-xs-12">
    <a href="index.html">
        <div class="back">НАЗАД</div>
    </a>
</div>

<br>

<div class="col-xs-12">
    <div class="line">
    </div>
</div>

<br>

<div class="col-xs-12">
    <div class="main-title1">НОВАЯ РАССЫЛКА</div>
</div>

<br>

<div class="col-xs-12">
    <div class="deliveryBlock">
        <form id="deliveryForm" action="" method="POST">
            Выберите группу:<br>
            <br>
            <select name="groups" id="group">
                <option>SEP-172</option>
            </select>
            <br><br> Введите текст сообщения:<br><br>
            <textarea id="myTextarea" cols="40" rows="2"></textarea>
            <br>
            <br>
            <input type="checkbox" name="checkbox"> <u> Каждую неделю в этот день</u></input>
            <br>
            <br>
            <input type="submit" id="submitButton" value="Отправить">
    </div>
</div>

<br>
<br>

<br>
<br>